In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras

In [ ]:
data=pd.read_csv("/content/IBM_2006-01-01_to_2018-01-01.csv")
data.head()

         Date   Open   High    Low  Close    Volume Name
0  2006-01-03  82.45  82.55  80.81  82.06  11715200  IBM
1  2006-01-04  82.20  82.50  81.33  81.95   9840600  IBM
2  2006-01-05  81.40  82.90  81.00  82.50   7213500  IBM
3  2006-01-06  83.95  85.03  83.41  84.95   8197400  IBM
4  2006-01-09  84.10  84.25  83.38  83.73   6858200  IBM

In [ ]:
data.isnull().sum()

Date      0
Open      1
High      0
Low       1
Close     0
Volume    0
Name      0
dtype: int64

In [ ]:
data["Open"].fillna(data["Open"].median(),inplace=True)

In [ ]:
data = pd.read_csv("/content/IBM_2006-01-01_to_2018-01-01.csv", index_col='Date', parse_dates=["Date"])
data.head()

             Open   High    Low  Close    Volume Name
Date
2006-01-03  82.45  82.55  80.81  82.06  11715200  IBM
2006-01-04  82.20  82.50  81.33  81.95   9840600  IBM
2006-01-05  81.40  82.90  81.00  82.50   7213500  IBM
2006-01-06  83.95  85.03  83.41  84.95   8197400  IBM
2006-01-09  84.10  84.25  83.38  83.73   6858200  IBM

In [ ]:
train = data[:'2016'].iloc[:,1:2].values
test = data['2017':].iloc[:,1:2].values

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
sc = MinMaxScaler(feature_range=(0,1))
train_scaled = sc.fit_transform(train)

In [ ]:
train_scaled

array([[0.06065089],
       [0.06029868],
       [0.06311637],
       ...,
       [0.66074951],
       [0.65546633],
       [0.6534235 ]])

In [ ]:
x_train = []
y_train = []

for i in range(60,2769):
    x_train.append(train_scaled[i-60:i, 0])
    y_train.append(train_scaled[i,0])

In [ ]:
x_train, y_train = np.array(x_train), np.array(y_train)

In [ ]:
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))

In [ ]:
x_train.shape

(2709, 60, 1)

In [ ]:
model=keras.models.Sequential()
model.add(tf.keras.layers.SimpleRNN(50,return_sequences=True,input_shape=(x_train.shape[1],1),activation="tanh"))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.SimpleRNN(50,return_sequences=True,input_shape=(x_train.shape[1],1),activation="tanh"))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.GRU(50,return_sequences=True,input_shape=(x_train.shape[1],1),activation="tanh"))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.GRU(50,input_shape=(x_train.shape[1],1),activation="tanh"))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1))

In [ ]:
model.compile(optimizer='rmsprop', loss='mean_squared_error')

In [ ]:
model.fit(x_train, y_train, epochs=5, batch_size=32)

Epoch 1/5
85/85 [==============================] - 14s 90ms/step - loss: 0.0853
Epoch 2/5
85/85 [==============================] - 8s 93ms/step - loss: 0.0174
Epoch 3/5
85/85 [==============================] - 8s 94ms/step - loss: 0.0106
Epoch 4/5
85/85 [==============================] - 8s 93ms/step - loss: 0.0074
Epoch 5/5
85/85 [==============================] - 8s 93ms/step - loss: 0.0083

In [ ]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
module_wrapper_18 (ModuleWra (None, 60, 50)            2600
_________________________________________________________________
module_wrapper_19 (ModuleWra (None, 60, 50)            0
_________________________________________________________________
module_wrapper_20 (ModuleWra (None, 60, 50)            5050
_________________________________________________________________
module_wrapper_21 (ModuleWra (None, 60, 50)            0
_________________________________________________________________
module_wrapper_22 (ModuleWra (None, 60, 50)            15300
_________________________________________________________________
module_wrapper_23 (ModuleWra (None, 60, 50)            0
_________________________________________________________________
module_wrapper_24 (ModuleWra (None, 50)                15300
_________________________________________________________________
module_wrapper_25 (ModuleWra (None, 50)                0
_________________________________________________________________
module_wrapper_26 (ModuleWra (None, 1)                 51
=================================================================
Total params: 38,301
Trainable params: 38,301
Non-trainable params: 0
_________________________________________________________________

In [ ]:
dataset_total = pd.concat((data['High'][:'2016'], data['High']['2017':]), axis=0)
print(dataset_total.shape)

inputs = dataset_total[len(dataset_total)-len(test)-60 : ].values
print(inputs.shape)
inputs = inputs.reshape(-1,1)
print(inputs.shape)
inputs = sc.transform(inputs)
print(inputs.shape)

(3020,)
(311,)
(311, 1)
(311, 1)

In [ ]:
x_test = []
for i in range(60,311):
    x_test.append(inputs[i-60:i, 0])
    
x_test = np.array(x_test)
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

In [ ]:
model.predict(x_test)

array([[0.6987963 ],
       [0.6963246 ],
       [0.69691366],
       [0.6988259 ],
       [0.70460147],
       [0.70850176],
       [0.71072525],
       [0.7095089 ],
       [0.7072788 ],
       [0.7047804 ],
       [0.70533663],
       [0.70677006],
       [0.70505947],
       [0.705007  ],
       [0.7055849 ],
       [0.7127328 ],
       [0.7248397 ],
       [0.7398503 ],
       [0.75360614],
       [0.7618493 ],
       [0.76434445],
       [0.76283664],
       [0.76147145],
       [0.75943846],
       [0.7605137 ],
       [0.76119256],
       [0.7613825 ],
       [0.762299  ],
       [0.7629021 ],
       [0.7667253 ],
       [0.7716534 ],
       [0.77700514],
       [0.7823228 ],
       [0.7876481 ],
       [0.79001105],
       [0.79206973],
       [0.79403645],
       [0.7951145 ],
       [0.7972393 ],
       [0.79552853],
       [0.79427147],
       [0.7933092 ],
       [0.79398066],
       [0.7941101 ],
       [0.7942979 ],
       [0.79428995],
       [0.7919701 ],
       [0.78955543],
       [0.7853374 ],
       [0.78239447],
       [0.77707267],
       [0.7731115 ],
       [0.7704224 ],
       [0.7689088 ],
       [0.76658386],
       [0.76308894],
       [0.7601933 ],
       [0.75778323],
       [0.7564452 ],
       [0.7544127 ],
       [0.7535357 ],
       [0.75139576],
       [0.75006115],
       [0.7495669 ],
       [0.7499603 ],
       [0.75117785],
       [0.7512796 ],
       [0.7500808 ],
       [0.7469131 ],
       [0.7420777 ],
       [0.737583  ],
       [0.73371065],
       [0.73060757],
       [0.72961277],
       [0.7241449 ],
       [0.71166587],
       [0.6962551 ],
       [0.68202466],
       [0.6723055 ],
       [0.6676595 ],
       [0.66311634],
       [0.65897447],
       [0.65445167],
       [0.6483989 ],
       [0.64658797],
       [0.64727354],
       [0.6449455 ],
       [0.6384395 ],
       [0.6264678 ],
       [0.61413854],
       [0.6060384 ],
       [0.5986759 ],
       [0.59517455],
       [0.59416115],
       [0.5927336 ],
       [0.59307194],
       [0.59177953],
       [0.59076005],
       [0.5942249 ],
       [0.5968988 ],
       [0.5978524 ],
       [0.5993714 ],
       [0.59923774],
       [0.59752953],
       [0.59738964],
       [0.5972162 ],
       [0.59748435],
       [0.59818876],
       [0.5963559 ],
       [0.5964233 ],
       [0.59787875],
       [0.6010312 ],
       [0.60597765],
       [0.61130106],
       [0.6124908 ],
       [0.6118206 ],
       [0.6115279 ],
       [0.6118366 ],
       [0.61362636],
       [0.6144697 ],
       [0.61564505],
       [0.61323196],
       [0.6112067 ],
       [0.61130923],
       [0.6131958 ],
       [0.61502105],
       [0.6142639 ],
       [0.6135385 ],
       [0.6119441 ],
       [0.6099133 ],
       [0.60807335],
       [0.6060792 ],
       [0.6043848 ],
       [0.60374206],
       [0.60358715],
       [0.60398567],
       [0.60443556],
       [0.60187155],
       [0.5965536 ],
       [0.58730716],
       [0.5764936 ],
       [0.5681712 ],
       [0.5613727 ],
       [0.5570446 ],
       [0.55188024],
       [0.54601794],
       [0.5408991 ],
       [0.5387701 ],
       [0.53865254],
       [0.5403577 ],
       [0.5409132 ],
       [0.5381202 ],
       [0.53449446],
       [0.5290823 ],
       [0.5248616 ],
       [0.52410376],
       [0.5242621 ],
       [0.5231352 ],
       [0.5236788 ],
       [0.52080387],
       [0.51656574],
       [0.51351595],
       [0.51274186],
       [0.5157117 ],
       [0.5199122 ],
       [0.52413744],
       [0.5270629 ],
       [0.52829486],
       [0.5276105 ],
       [0.5283783 ],
       [0.53042173],
       [0.53261983],
       [0.5340396 ],
       [0.53274137],
       [0.5319454 ],
       [0.53319657],
       [0.5368999 ],
       [0.541964  ],
       [0.5449497 ],
       [0.5442072 ],
       [0.54161316],
       [0.54002416],
       [0.5397217 ],
       [0.5425912 ],
       [0.5451646 ],
       [0.54616874],
       [0.5465686 ],
       [0.5465165 ],
       [0.54691976],
       [0.5475251 ],
       [0.5487765 ],
       [0.5501443 ],
       [0.5512954 ],
       [0.5516488 ],
       [0.5535773 ],
       [0.5549302 ],
       [0.5573632 ],
       [0.5602672 ],
       [0.56145275],
       [0.56064963],
       [0.558334  ],
       [0.5646109 ],
       [0.5812485 ],
       [0.60701853],
       [0.62851185],
       [0.6420823 ],
       [0.6445594 ],
       [0.6387797 ],
       [0.63046473],
       [0.62437135],
       [0.62280315],
       [0.6184329 ],
       [0.61363244],
       [0.6054065 ],
       [0.59953547],
       [0.5949715 ],
       [0.59159106],
       [0.58922374],
       [0.5876543 ],
       [0.58228517],
       [0.5760336 ],
       [0.57355845],
       [0.57002825],
       [0.57271284],
       [0.5757565 ],
       [0.57761896],
       [0.5809555 ],
       [0.5832965 ],
       [0.58516204],
       [0.5894403 ],
       [0.5938043 ],
       [0.59642124],
       [0.6006739 ],
       [0.60502166],
       [0.6089636 ],
       [0.6143767 ],
       [0.6155535 ],
       [0.61590004],
       [0.6141608 ],
       [0.6144038 ],
       [0.6163947 ],
       [0.6179683 ],
       [0.61791563],
       [0.6145555 ],
       [0.60979027],
       [0.6051336 ],
       [0.60535556],
       [0.60261536],
       [0.6020689 ],
       [0.599659  ],
       [0.5969816 ]], dtype=float32)